In [1]:
# Dependencies
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from scipy import stats
import requests
from census import Census
from pprint import pprint

# Census API Key
from config import api_key

In [2]:
# Pull in all crime data from 2000 - 2020
crime_2000 = pd.read_csv("Resources/Crime Information 2000.csv")
crime_2001 = pd.read_csv("Resources/Crime Information 2001.csv")
crime_2002 = pd.read_csv("Resources/Crime Information 2002.csv")
crime_2003 = pd.read_csv("Resources/Crime Information 2003.csv")
crime_2004 = pd.read_csv("Resources/Crime Information 2004.csv")
crime_2005 = pd.read_csv("Resources/Crime Information 2005.csv")
crime_2006 = pd.read_csv("Resources/Crime Information 2006.csv")
crime_2007 = pd.read_csv("Resources/Crime Information 2007.csv")
crime_2008 = pd.read_csv("Resources/Crime Information 2008.csv")
crime_2009 = pd.read_csv("Resources/Crime Information 2009.csv")
crime_2010 = pd.read_csv("Resources/Crime Information 2010.csv")
crime_2011 = pd.read_csv("Resources/Crime Information 2011.csv")
crime_2012 = pd.read_csv("Resources/Crime Information 2012.csv")
crime_2013 = pd.read_csv("Resources/Crime Information 2013.csv")
crime_2014 = pd.read_csv("Resources/Crime Information 2014.csv")
crime_2015 = pd.read_csv("Resources/Crime Information 2015.csv")
crime_2016 = pd.read_csv("Resources/Crime Information 2016.csv")
crime_2017 = pd.read_csv("Resources/Crime Information 2017.csv")
crime_2018 = pd.read_csv("Resources/Crime Information 2018.csv")
crime_2019 = pd.read_csv("Resources/Crime Information 2019.csv")
crime_2020 = pd.read_csv("Resources/Crime Information 2020.csv")

In [5]:
# Function to create a single DataFrame from crime data based on Neighborhood
def crime_data(neighborhood):
    years = [2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010, 
             2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020]
    neighborhood_df = pd.DataFrame()
    neighborhood_df = crime_2000.loc[(crime_2000["NEIGHBORHOOD_NAME"] == neighborhood)]
    neighborhood_df = neighborhood_df.append(crime_2001.loc[(crime_2001["NEIGHBORHOOD_NAME"] == neighborhood)])
    neighborhood_df = neighborhood_df.append(crime_2002.loc[(crime_2002["NEIGHBORHOOD_NAME"] == neighborhood)])
    neighborhood_df = neighborhood_df.append(crime_2003.loc[(crime_2003["NEIGHBORHOOD_NAME"] == neighborhood)])
    neighborhood_df = neighborhood_df.append(crime_2004.loc[(crime_2004["NEIGHBORHOOD_NAME"] == neighborhood)])
    neighborhood_df = neighborhood_df.append(crime_2005.loc[(crime_2005["NEIGHBORHOOD_NAME"] == neighborhood)])
    neighborhood_df = neighborhood_df.append(crime_2006.loc[(crime_2006["NEIGHBORHOOD_NAME"] == neighborhood)])
    neighborhood_df = neighborhood_df.append(crime_2007.loc[(crime_2007["NEIGHBORHOOD_NAME"] == neighborhood)])
    neighborhood_df = neighborhood_df.append(crime_2008.loc[(crime_2008["NEIGHBORHOOD_NAME"] == neighborhood)])
    neighborhood_df = neighborhood_df.append(crime_2009.loc[(crime_2009["NEIGHBORHOOD_NAME"] == neighborhood)])
    neighborhood_df = neighborhood_df.append(crime_2010.loc[(crime_2010["NEIGHBORHOOD_NAME"] == neighborhood)])
    neighborhood_df = neighborhood_df.append(crime_2011.loc[(crime_2011["NEIGHBORHOOD_NAME"] == neighborhood)])
    neighborhood_df = neighborhood_df.append(crime_2012.loc[(crime_2012["NEIGHBORHOOD_NAME"] == neighborhood)])
    neighborhood_df = neighborhood_df.append(crime_2013.loc[(crime_2013["NEIGHBORHOOD_NAME"] == neighborhood)])
    neighborhood_df = neighborhood_df.append(crime_2014.loc[(crime_2014["NEIGHBORHOOD_NAME"] == neighborhood)])
    neighborhood_df = neighborhood_df.append(crime_2015.loc[(crime_2015["NEIGHBORHOOD_NAME"] == neighborhood)])
    neighborhood_df = neighborhood_df.append(crime_2016.loc[(crime_2016["NEIGHBORHOOD_NAME"] == neighborhood)])
    neighborhood_df = neighborhood_df.append(crime_2017.loc[(crime_2017["NEIGHBORHOOD_NAME"] == neighborhood)])
    neighborhood_df = neighborhood_df.append(crime_2018.loc[(crime_2018["NEIGHBORHOOD_NAME"] == neighborhood)])
    neighborhood_df = neighborhood_df.append(crime_2019.loc[(crime_2019["NEIGHBORHOOD_NAME"] == neighborhood)])
    neighborhood_df = neighborhood_df.append(crime_2020.loc[(crime_2020["NEIGHBORHOOD_NAME"] == neighborhood)])
    neighborhood_df["YEAR"] = years
    neighborhood_df = neighborhood_df[["YEAR", "NEIGHBORHOOD_NAME", "HOMICIDE", "SEX_OFFENSE", "ROBBERY",
                                       "ASSAULT", "BURGLARY", "VICE", "THEFT", "VEH_THEFT", "OTHER"]]
    neighborhood_df = neighborhood_df.set_index("YEAR")
    neighborhood_df["TOTAL CRIME"] = (neighborhood_df["HOMICIDE"] + neighborhood_df["SEX_OFFENSE"] + neighborhood_df["ROBBERY"] + 
                                      neighborhood_df["ASSAULT"] + neighborhood_df["BURGLARY"] + neighborhood_df["VICE"] + 
                                      neighborhood_df["THEFT"] + neighborhood_df["VEH_THEFT"] + neighborhood_df["OTHER"])
    return neighborhood_df

In [6]:
# Call function to create a crime data DataFrame for a location
crime_df = pd.DataFrame()
crime_df = crime_data("CHURCH HILL")
crime_df

,NEIGHBORHOOD_NAME,HOMICIDE,SEX_OFFENSE,ROBBERY,ASSAULT,BURGLARY,VICE,THEFT,VEH_THEFT,OTHER,TOTAL CRIME
YEAR,,,,,,,,,,,
2000,CHURCH HILL,0,1,8,71,44,46,143,51,229,593
2001,CHURCH HILL,1,2,20,60,77,25,157,66,198,606
2002,CHURCH HILL,0,1,13,50,59,23,190,49,190,575
2003,CHURCH HILL,1,3,31,65,57,26,188,76,178,625
2004,CHURCH HILL,0,6,16,52,41,31,122,55,163,486
2005,CHURCH HILL,2,2,17,42,28,37,95,37,159,419
2006,CHURCH HILL,1,1,10,49,53,37,87,18,229,485
2007,CHURCH HILL,0,4,10,36,37,20,90,19,179,395
2008,CHURCH HILL,1,2,7,29,27,16,58,23,189,352
2009,CHURCH HILL,1,3,3,30,26,11,78,13,173,338
2010,CHURCH HILL,0,0,3,29,18,11,64,17,159,301
2011,CHURCH HILL,0,0,6,37,21,14,67,10,148,303
2012,CHURCH HILL,0,1,8,28,10,8,72,9,194,330
2013,CHURCH HILL,0,0,3,23,20,5,47,5,145,248
2014,CHURCH HILL,0,0,9,25,23,6,69,8,125,265
2015,CHURCH HILL,0,1,4,27,17,9,54,8,143,263
2016,CHURCH HILL,0,2,4,29,12,4,73,14,117,255
2017,CHURCH HILL,0,0,6,19,9,9,78,23,153,297
2018,CHURCH HILL,0,0,5,17,8,11,75,16,132,264
2019,CHURCH HILL,0,1,5,15,11,7,70,22,147,278
2020,CHURCH HILL,0,3,2,25,6,4,69,13,132,254

In [8]:
# Pull in Zillow data
zillow_df = pd.read_csv("Resources/Zillow_Richmond_Neighborhoods_wZips.csv")
print(len(zillow_df))
zillow_df.head()

123

,RegionID,SizeRank,RegionName,RegionType,Zip Code,Second Zip Code,Third Zip Code,StateName,State,City,...,10/31/2020,11/30/2020,12/31/2020,1/31/2021,2/28/2021,3/31/2021,4/30/2021,5/31/2021,6/30/2021,7/31/2021
0,275702,1140,The Fan,Neighborhood,23220,None,None,VA,VA,Richmond,...,501578,503810,506583,509345,512399,515293,518796,524599,530573,535289
1,275714,2576,The Museum District,Neighborhood,23221,23230,None,VA,VA,Richmond,...,440136,443375,446942,450027,454105,458011,463716,471360,480371,488879
2,276341,4089,Fulton,Neighborhood,23231,None,None,VA,VA,Richmond,...,168890,171022,173750,176364,180552,185343,190271,194652,199345,204795
3,273588,4471,Eastview,Neighborhood,23223,None,None,VA,VA,Richmond,...,113226,114740,116875,120124,123477,126798,130117,134008,139139,146570
4,243780,4493,Ginter Park,Neighborhood,23227,23222,None,VA,VA,Richmond,...,422113,427022,432114,436548,441189,445511,450369,457494,464332,471119

In [10]:
# Census Call
c = Census(api_key, year=2013)
census_data = c.acs5.get(("NAME", "B19013_001E", "B01003_001E", "B01002_001E",
                          "B19301_001E",
                          "B17001_002E"), {'for': 'zip code tabulation area:*', 'in': 'state:51'})
# Convert to DataFrame
census_pd = pd.DataFrame(census_data)

# Rename Columns
census_pd = census_pd.rename(columns={"B01003_001E": "Population",
                                      "B01002_001E": "Median Age",
                                      "B19013_001E": "Household Income",
                                      "B19301_001E": "Per Capita Income",
                                      "B17001_002E": "Poverty Count",
                                      "NAME": "Name", "zip code tabulation area": "Zipcode"})

# Add in Poverty Rate (Poverty Count / Population)
census_pd["Poverty Rate"] = 100 * \
    census_pd["Poverty Count"].astype(
        int) / census_pd["Population"].astype(int)

# Rearrange DataFrame
census_pd = census_pd[["Zipcode", "Population", "Median Age", "Household Income",
                       "Per Capita Income", "Poverty Count", "Poverty Rate"]]
# Display
print(len(census_pd))
census_pd.head()

896

,Zipcode,Population,Median Age,Household Income,Per Capita Income,Poverty Count,Poverty Rate
0,23102,3342.0,43.7,92346.0,32064.0,35.0,1.047277
1,23106,1270.0,31.2,45125.0,16816.0,497.0,39.133858
2,23112,50595.0,35.1,80830.0,33038.0,2006.0,3.964819
3,23153,1073.0,54.2,76964.0,63814.0,21.0,1.957130
4,23161,62.0,66.3,52143.0,47961.0,0.0,0.000000

In [11]:
# Copy Census data to csv
census_pd.to_csv("census_data.csv", encoding="utf-8", index=False)