In [15]:
# Dependencies
import matplotlib.pyplot as plt
import pandas as pd
import scipy.stats as st
import numpy as np
from scipy.stats import sem
from scipy.stats import linregress

In [16]:
# Pull and read data files for Census and Zillow by Year
zillow_data = pd.read_csv("Output/zillow_by_year.csv")
census_data = pd.read_csv("Output/census_data.csv")

# Pull and read data files for All RVA and for each selected Neighborhood
allRVA_data = pd.read_csv("Output/richmond.csv")
manchester_data = pd.read_csv("Output/manchester.csv")
oregon_hill_data = pd.read_csv("Output/oregon_hill.csv")
scotts_addition_data =pd.read_csv("Output/scotts_addition.csv")
jackson_ward_data = pd.read_csv("Output/jackson_ward.csv")
shockoe_bottom_data = pd.read_csv("Output/shockoe_bottom.csv")
church_hill_data = pd.read_csv("Output/church_hill.csv")
church_hill_north_data = pd.read_csv("Output/church_hill.csv")

# Combine the data into a single dataset ?????
#combined_data = pd.merge(x_data, y_data, how='left', on=['COLUMN NAME'])

# Display the data table for preview
#combined_data.head()

In [17]:
print(zillow_data.columns)
zillow_data

Index(['Region Name', 'Region ID', 'Size Rank', 'Zip Code', 'Second Zip Code',
       'Third Zip Code', '1996', '1997', '1998', '1999', '2000', '2001',
       '2002', '2003', '2004', '2005', '2006', '2007', '2008', '2009', '2010',
       '2011', '2012', '2013', '2014', '2015', '2016', '2017', '2018', '2019',
       '2020', '01/2021 - 07/2021'],
      dtype='object')

,Region Name,Region ID,Size Rank,Zip Code,Second Zip Code,Third Zip Code,1996,1997,1998,1999,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,01/2021 - 07/2021
0,The Fan,275702,1140,23220,None,None,127836,123561,142352,162437,...,325518,352072,361787,375400,398726,423322,456708,480578,495304,303858
1,The Museum District,275714,2576,23221,23230,None,101811,117029,127964,141834,...,285041,306324,312329,325949,348648,367651,392892,417523,434587,272206
2,Fulton,276341,4089,23231,None,None,68845,74232,82636,83851,...,96219,96882,105052,116738,118553,129542,143823,150422,164079,110944
3,Eastview,273588,4471,23223,None,None,0,21060,56303,61406,...,73953,62921,68541,69548,67897,72297,89160,100886,111755,76686
4,Ginter Park,243780,4493,23227,23222,None,116266,130858,143066,154101,...,277100,300294,303092,309751,324448,344755,370552,384376,409187,263880
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
118,Powhite Park,275085,15106,23225,None,None,0,0,0,0,...,231853,250181,241653,240694,247600,253719,264976,266131,267990,169760
119,Brookhaven Farms,273061,15200,23224,None,None,50135,57838,64237,74415,...,92637,102908,109877,117808,127616,129404,135892,143376,154744,101800
120,Cullenwood,273420,15313,23234,None,None,62384,64391,70864,72402,...,112340,114060,111529,108581,120370,130938,143706,149548,162890,105026
121,Newtowne West,274675,15862,23220,None,None,173224,117929,117730,122903,...,143582,153174,160985,169051,180105,191026,212838,243170,257884,168341
122,Cherry Gardens,273230,16395,23234,None,None,64680,66574,76075,80981,...,118186,117907,122686,114505,122670,134498,143696,152113,167941,106776

In [18]:
print(census_data.columns)
census_data

Index(['Zipcode', 'Population', 'Median Age', 'Household Income',
       'Per Capita Income', 'Poverty Count', 'Poverty Rate'],
      dtype='object')

,Zipcode,Population,Median Age,Household Income,Per Capita Income,Poverty Count,Poverty Rate
0,23102,3342.0,43.7,92346.0,32064.0,35.0,1.047277
1,23106,1270.0,31.2,45125.0,16816.0,497.0,39.133858
2,23112,50595.0,35.1,80830.0,33038.0,2006.0,3.964819
3,23153,1073.0,54.2,76964.0,63814.0,21.0,1.957130
4,23161,62.0,66.3,52143.0,47961.0,0.0,0.000000
...,...,...,...,...,...,...,...
891,24517,5535.0,45.5,36422.0,23816.0,1092.0,19.728997
892,24522,9625.0,45.1,49466.0,23985.0,1531.0,15.906494
893,24529,1320.0,49.2,34866.0,21473.0,205.0,15.530303
894,24549,4682.0,39.3,42473.0,20969.0,706.0,15.079026
895,24553,2490.0,35.2,41285.0,20101.0,454.0,18.232932

In [19]:
print(allRVA_data.columns)
allRVA_data

Index(['YEAR', 'NEIGHBORHOOD_NAME', 'HOMICIDE', 'SEX_OFFENSE', 'ROBBERY',
       'ASSAULT', 'BURGLARY', 'VICE', 'THEFT', 'VEH_THEFT', 'OTHER',
       'TOTAL_CRIME', 'AVERAGE_HOUSE_PRICE', 'CRIME_PERCENT_CHANGE',
       'PRICE_PERCENT_CHANGE'],
      dtype='object')

,YEAR,NEIGHBORHOOD_NAME,HOMICIDE,SEX_OFFENSE,ROBBERY,ASSAULT,BURGLARY,VICE,THEFT,VEH_THEFT,OTHER,TOTAL_CRIME,AVERAGE_HOUSE_PRICE,CRIME_PERCENT_CHANGE,PRICE_PERCENT_CHANGE
0,2000,Richmond,75,296,1091,5908,2841,2430,10866,2548,21578,47633,14864415,0.000000,0.000000
1,2001,Richmond,67,291,1328,6341,2871,1629,10953,2762,20581,46823,15419541,-1.700502,3.734597
2,2002,Richmond,83,356,1316,5718,3039,1780,12141,2537,18182,45152,16462528,-3.568759,6.764060
3,2003,Richmond,88,273,1336,5699,3113,1820,10823,2890,15921,41963,18209260,-7.062810,10.610351
4,2004,Richmond,90,245,1304,5351,2716,1953,8091,2369,14038,36157,20044317,-13.835998,10.077603
5,2005,Richmond,83,238,1196,5239,2511,2754,8220,2214,16667,39122,22811280,8.200348,13.804227
6,2006,Richmond,72,216,995,5447,2281,2937,6354,1421,19735,39458,25394341,0.858852,11.323613
7,2007,Richmond,55,168,962,5334,1875,2786,5634,1240,23159,41213,27186144,4.447767,7.055915
8,2008,Richmond,31,158,772,4980,1748,2690,5306,1022,21739,38446,26883825,-6.713901,-1.112033
9,2009,Richmond,43,152,849,5082,1584,2734,5874,978,20597,37893,24964309,-1.438381,-7.140041
10,2010,Richmond,44,149,730,5068,1766,2479,5885,868,20048,37037,23879647,-2.258992,-4.344851
11,2011,Richmond,39,127,675,4697,1892,2116,5865,915,19115,35441,22227965,-4.309204,-6.916694
12,2012,Richmond,45,113,627,4684,1993,2332,6163,918,18977,35852,21573024,1.159674,-2.946473
13,2013,Richmond,38,126,623,4483,1813,2231,5993,927,17058,33292,22572722,-7.140466,4.634019
14,2014,Richmond,41,166,570,4321,1699,2077,6030,740,16854,32498,22976497,-2.384957,1.788774
15,2015,Richmond,43,171,489,4413,1594,2063,6206,905,17948,33832,23649011,4.104868,2.926965
16,2016,Richmond,62,199,550,4320,1517,1793,6151,1277,18858,34727,25102733,2.645424,6.147073
17,2017,Richmond,63,223,513,4069,1388,1902,6446,1182,19668,35454,26802685,2.093472,6.771980
18,2018,Richmond,55,181,428,4090,1115,2077,6573,1344,19533,35396,29385991,-0.163592,9.638236
19,2019,Richmond,63,185,428,3933,1024,1913,6512,1188,19555,34801,31498053,-1.680981,7.187309
20,2020,Richmond,71,166,360,3488,850,1254,5794,1161,16392,29536,34019502,-15.128876,8.005095

## Comparative Bar Graphs for Crime and Housing Value?

In [ ]:
# can make stacked bar graph (type of crime as segments) for each neighborhood? 
### using data at 2000 and 2020?

## Scatter with Regression Analysis -- All RVA Housing Value vs All RVA Crime

In [ ]:
# done with data for ONE year 
# x-axis = Housing Value; y-axis = Total Crime; each dot is a neighborhood

## Comparative Line Graphs -- Crime over Time and Housing Value over Time (All RVA vs Selected Neighborhoods)

In [ ]:
# Need to make a line graph for RVA overall and for each neighborhood based on percent yearly change
### make comparison of Housing Value with one line for All RVA and one line for each selected neighborhood
### repeat for total crime
### when using percent change, the points to plot would be (%change time A + %change time B)

In [ ]:
# Make graph with Housing Value (all RVA) and Total Crime (all RVA) over time
### repeat for each neighborhood 
### would look like the line graph the prof sent over slack (2 y-axes, 1 x-axis)

## Box and Whisker Plots -- Distribution of Housing Values and Total for All RVA Neighborhoods (2000 and 2020)

In [ ]:
# Using each neighborhood as a data point...
### Make separate box and whisker plots for Housing Value at 2000 and 2020
### Make separate box and whisker plots for Total Crime at 2000 and 2020
### Locate where the selected neighborhoods fall in all 4 B&W plots 
### --> did percentile position change?

## Test of Significant Difference from Average (All RVA)

In [ ]:
# Compare overall percent change (from 2000-2020) for each selected neighborhood compared to control of All RVA
### chi-square??