In [1]:
# Dependencies
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from scipy import stats
import requests
import math
from census import Census
from pprint import pprint

# Census API Key
from config import api_key

In [72]:
# Pull in all crime data from 2000 - 2020
crime_2000 = pd.read_csv("Resources/Crime Information 2000.csv")
crime_2001 = pd.read_csv("Resources/Crime Information 2001.csv")
crime_2002 = pd.read_csv("Resources/Crime Information 2002.csv")
crime_2003 = pd.read_csv("Resources/Crime Information 2003.csv")
crime_2004 = pd.read_csv("Resources/Crime Information 2004.csv")
crime_2005 = pd.read_csv("Resources/Crime Information 2005.csv")
crime_2006 = pd.read_csv("Resources/Crime Information 2006.csv")
crime_2007 = pd.read_csv("Resources/Crime Information 2007.csv")
crime_2008 = pd.read_csv("Resources/Crime Information 2008.csv")
crime_2009 = pd.read_csv("Resources/Crime Information 2009.csv")
crime_2010 = pd.read_csv("Resources/Crime Information 2010.csv")
crime_2011 = pd.read_csv("Resources/Crime Information 2011.csv")
crime_2012 = pd.read_csv("Resources/Crime Information 2012.csv")
crime_2013 = pd.read_csv("Resources/Crime Information 2013.csv")
crime_2014 = pd.read_csv("Resources/Crime Information 2014.csv")
crime_2015 = pd.read_csv("Resources/Crime Information 2015.csv")
crime_2016 = pd.read_csv("Resources/Crime Information 2016.csv")
crime_2017 = pd.read_csv("Resources/Crime Information 2017.csv")
crime_2018 = pd.read_csv("Resources/Crime Information 2018.csv")
crime_2019 = pd.read_csv("Resources/Crime Information 2019.csv")
crime_2020 = pd.read_csv("Resources/Crime Information 2020.csv")

In [80]:
# Combined crime data totals
years = [2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010, 
             2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020]
total_crime_df = pd.DataFrame(columns=["NEIGHBORHOOD_NAME", "HOMICIDE", "SEX_OFFENSE", "ROBBERY",
                                       "ASSAULT", "BURGLARY", "VICE", "THEFT", "VEH_THEFT", "OTHER"])
crime_2000.loc['2000',:] = crime_2000.sum(axis=0)
total_crime_df = total_crime_df.append(crime_2000.iloc[-1, :])
crime_2001.loc['2001',:] = crime_2001.sum(axis=0)
total_crime_df = total_crime_df.append(crime_2001.iloc[-1, :])
crime_2002.loc['2002',:] = crime_2002.sum(axis=0)
total_crime_df = total_crime_df.append(crime_2002.iloc[-1, :])
crime_2003.loc['2003',:] = crime_2003.sum(axis=0)
total_crime_df = total_crime_df.append(crime_2003.iloc[-1, :])
crime_2004.loc['2004',:] = crime_2004.sum(axis=0)
total_crime_df = total_crime_df.append(crime_2004.iloc[-1, :])
crime_2005.loc['2005',:] = crime_2005.sum(axis=0)
total_crime_df = total_crime_df.append(crime_2005.iloc[-1, :])
crime_2006.loc['2006',:] = crime_2006.sum(axis=0)
total_crime_df = total_crime_df.append(crime_2006.iloc[-1, :])
crime_2007.loc['2007',:] = crime_2007.sum(axis=0)
total_crime_df = total_crime_df.append(crime_2007.iloc[-1, :])
crime_2008.loc['2008',:] = crime_2008.sum(axis=0)
total_crime_df = total_crime_df.append(crime_2008.iloc[-1, :])
crime_2009.loc['2009',:] = crime_2009.sum(axis=0)
total_crime_df = total_crime_df.append(crime_2009.iloc[-1, :])
crime_2010.loc['2010',:] = crime_2010.sum(axis=0)
total_crime_df = total_crime_df.append(crime_2010.iloc[-1, :])
crime_2011.loc['2011',:] = crime_2011.sum(axis=0)
total_crime_df = total_crime_df.append(crime_2011.iloc[-1, :])
crime_2012.loc['2012',:] = crime_2012.sum(axis=0)
total_crime_df = total_crime_df.append(crime_2012.iloc[-1, :])
crime_2013.loc['2013',:] = crime_2013.sum(axis=0)
total_crime_df = total_crime_df.append(crime_2013.iloc[-1, :])
crime_2014.loc['2014',:] = crime_2014.sum(axis=0)
total_crime_df = total_crime_df.append(crime_2014.iloc[-1, :])
crime_2015.loc['2015',:] = crime_2015.sum(axis=0)
total_crime_df = total_crime_df.append(crime_2015.iloc[-1, :])
crime_2016.loc['2016',:] = crime_2016.sum(axis=0)
total_crime_df = total_crime_df.append(crime_2016.iloc[-1, :])
crime_2017.loc['2017',:] = crime_2017.sum(axis=0)
total_crime_df = total_crime_df.append(crime_2017.iloc[-1, :])
crime_2018.loc['2018',:] = crime_2018.sum(axis=0)
total_crime_df = total_crime_df.append(crime_2018.iloc[-1, :])
crime_2019.loc['2019',:] = crime_2019.sum(axis=0)
total_crime_df = total_crime_df.append(crime_2019.iloc[-1, :])
crime_2020.loc['2020',:] = crime_2020.sum(axis=0)
total_crime_df = total_crime_df.append(crime_2020.iloc[-1, :])
total_crime_df["YEAR"] = years
total_crime_df = total_crime_df[["YEAR", "HOMICIDE", "SEX_OFFENSE", "ROBBERY", 
                                 "ASSAULT", "BURGLARY", "VICE", "THEFT", "VEH_THEFT", "OTHER"]]
total_crime_df["TOTAL_CRIME"] = (total_crime_df["HOMICIDE"] + total_crime_df["SEX_OFFENSE"] + 
                                 total_crime_df["ROBBERY"] + total_crime_df["ASSAULT"] + total_crime_df["BURGLARY"] + 
                                 total_crime_df["VICE"] + total_crime_df["THEFT"] + total_crime_df["VEH_THEFT"] + 
                                 total_crime_df["OTHER"])
total_crime_df = total_crime_df.set_index("YEAR")
total_crime_df = total_crime_df.astype(int)
total_crime_df

,HOMICIDE,SEX_OFFENSE,ROBBERY,ASSAULT,BURGLARY,VICE,THEFT,VEH_THEFT,OTHER,TOTAL_CRIME
YEAR,,,,,,,,,,
2000,600,2368,8728,47264,22728,19440,86928,20384,172624,381064
2001,402,1746,7968,38046,17226,9774,65718,16572,123486,280938
2002,498,2136,7896,34308,18234,10680,72846,15222,109092,270912
2003,528,1638,8016,34194,18678,10920,64938,17340,95526,251778
2004,540,1470,7824,32106,16296,11718,48546,14214,84228,216942
2005,498,1428,7176,31434,15066,16524,49320,13284,100002,234732
2006,432,1296,5970,32682,13686,17622,38124,8526,118410,236748
2007,330,1008,5772,32004,11250,16716,33804,7440,138954,247278
2008,186,948,4632,29880,10488,16140,31836,6132,130434,230676
2009,258,912,5094,30492,9504,16404,35244,5868,123582,227358
2010,264,894,4380,30408,10596,14874,35310,5208,120288,222222
2011,234,762,4050,28182,11352,12696,35190,5490,114690,212646
2012,270,678,3762,28104,11958,13992,36978,5508,113862,215112
2013,228,756,3738,26898,10878,13386,35958,5562,102348,199752
2014,246,996,3420,25926,10194,12462,36180,4440,101124,194988
2015,258,1026,2934,26478,9564,12378,37236,5430,107688,202992
2016,372,1194,3300,25920,9102,10758,36906,7662,113148,208362
2017,378,1338,3078,24414,8328,11412,38676,7092,118008,212724
2018,330,1086,2568,24540,6690,12462,39438,8064,117198,212376
2019,378,1110,2568,23598,6144,11478,39072,7128,117330,208806
2020,426,996,2160,20928,5100,7524,34764,6966,98352,177216

In [3]:
# Function to create a single DataFrame from crime data based on Neighborhood
def crime_data(neighborhood):
    years = [2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010, 
             2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020]
    neighborhood_df = pd.DataFrame()
    neighborhood_df = crime_2000.loc[(crime_2000["NEIGHBORHOOD_NAME"] == neighborhood)]
    neighborhood_df = neighborhood_df.append(crime_2001.loc[(crime_2001["NEIGHBORHOOD_NAME"] == neighborhood)])
    neighborhood_df = neighborhood_df.append(crime_2002.loc[(crime_2002["NEIGHBORHOOD_NAME"] == neighborhood)])
    neighborhood_df = neighborhood_df.append(crime_2003.loc[(crime_2003["NEIGHBORHOOD_NAME"] == neighborhood)])
    neighborhood_df = neighborhood_df.append(crime_2004.loc[(crime_2004["NEIGHBORHOOD_NAME"] == neighborhood)])
    neighborhood_df = neighborhood_df.append(crime_2005.loc[(crime_2005["NEIGHBORHOOD_NAME"] == neighborhood)])
    neighborhood_df = neighborhood_df.append(crime_2006.loc[(crime_2006["NEIGHBORHOOD_NAME"] == neighborhood)])
    neighborhood_df = neighborhood_df.append(crime_2007.loc[(crime_2007["NEIGHBORHOOD_NAME"] == neighborhood)])
    neighborhood_df = neighborhood_df.append(crime_2008.loc[(crime_2008["NEIGHBORHOOD_NAME"] == neighborhood)])
    neighborhood_df = neighborhood_df.append(crime_2009.loc[(crime_2009["NEIGHBORHOOD_NAME"] == neighborhood)])
    neighborhood_df = neighborhood_df.append(crime_2010.loc[(crime_2010["NEIGHBORHOOD_NAME"] == neighborhood)])
    neighborhood_df = neighborhood_df.append(crime_2011.loc[(crime_2011["NEIGHBORHOOD_NAME"] == neighborhood)])
    neighborhood_df = neighborhood_df.append(crime_2012.loc[(crime_2012["NEIGHBORHOOD_NAME"] == neighborhood)])
    neighborhood_df = neighborhood_df.append(crime_2013.loc[(crime_2013["NEIGHBORHOOD_NAME"] == neighborhood)])
    neighborhood_df = neighborhood_df.append(crime_2014.loc[(crime_2014["NEIGHBORHOOD_NAME"] == neighborhood)])
    neighborhood_df = neighborhood_df.append(crime_2015.loc[(crime_2015["NEIGHBORHOOD_NAME"] == neighborhood)])
    neighborhood_df = neighborhood_df.append(crime_2016.loc[(crime_2016["NEIGHBORHOOD_NAME"] == neighborhood)])
    neighborhood_df = neighborhood_df.append(crime_2017.loc[(crime_2017["NEIGHBORHOOD_NAME"] == neighborhood)])
    neighborhood_df = neighborhood_df.append(crime_2018.loc[(crime_2018["NEIGHBORHOOD_NAME"] == neighborhood)])
    neighborhood_df = neighborhood_df.append(crime_2019.loc[(crime_2019["NEIGHBORHOOD_NAME"] == neighborhood)])
    neighborhood_df = neighborhood_df.append(crime_2020.loc[(crime_2020["NEIGHBORHOOD_NAME"] == neighborhood)])
    neighborhood_df["YEAR"] = years
    neighborhood_df = neighborhood_df[["YEAR", "NEIGHBORHOOD_NAME", "HOMICIDE", "SEX_OFFENSE", "ROBBERY",
                                       "ASSAULT", "BURGLARY", "VICE", "THEFT", "VEH_THEFT", "OTHER"]]
    neighborhood_df = neighborhood_df.set_index("YEAR")
    neighborhood_df["TOTAL_CRIME"] = (neighborhood_df["HOMICIDE"] + neighborhood_df["SEX_OFFENSE"] + neighborhood_df["ROBBERY"] + 
                                      neighborhood_df["ASSAULT"] + neighborhood_df["BURGLARY"] + neighborhood_df["VICE"] + 
                                      neighborhood_df["THEFT"] + neighborhood_df["VEH_THEFT"] + neighborhood_df["OTHER"])
    return neighborhood_df

In [60]:
# Call function to create a crime data DataFrame for a location
crime_df = pd.DataFrame()
crime_df = crime_data("CHURCH HILL")
crime_df

# Sample code to add data together
#crime1_df = pd.DataFrame()
#crime2_df = pd.DataFrame()
#crime1_df = crime_data("CHURCH HILL")
#crime2_df = crime_data("CHURCH HILL NORTH")
#total1 = []
#total2 = []
#total1 = crime1_df["TOTAL_CRIME"]
#total2 = crime2_df["TOTAL_CRIME"]
#total1 = total1 + total2
#print(total1)

,NEIGHBORHOOD_NAME,HOMICIDE,SEX_OFFENSE,ROBBERY,ASSAULT,BURGLARY,VICE,THEFT,VEH_THEFT,OTHER,TOTAL_CRIME
YEAR,,,,,,,,,,,
2000,CHURCH HILL,0,1,8,71,44,46,143,51,229,593
2001,CHURCH HILL,1,2,20,60,77,25,157,66,198,606
2002,CHURCH HILL,0,1,13,50,59,23,190,49,190,575
2003,CHURCH HILL,1,3,31,65,57,26,188,76,178,625
2004,CHURCH HILL,0,6,16,52,41,31,122,55,163,486
2005,CHURCH HILL,2,2,17,42,28,37,95,37,159,419
2006,CHURCH HILL,1,1,10,49,53,37,87,18,229,485
2007,CHURCH HILL,0,4,10,36,37,20,90,19,179,395
2008,CHURCH HILL,1,2,7,29,27,16,58,23,189,352
2009,CHURCH HILL,1,3,3,30,26,11,78,13,173,338
2010,CHURCH HILL,0,0,3,29,18,11,64,17,159,301
2011,CHURCH HILL,0,0,6,37,21,14,67,10,148,303
2012,CHURCH HILL,0,1,8,28,10,8,72,9,194,330
2013,CHURCH HILL,0,0,3,23,20,5,47,5,145,248
2014,CHURCH HILL,0,0,9,25,23,6,69,8,125,265
2015,CHURCH HILL,0,1,4,27,17,9,54,8,143,263
2016,CHURCH HILL,0,2,4,29,12,4,73,14,117,255
2017,CHURCH HILL,0,0,6,19,9,9,78,23,153,297
2018,CHURCH HILL,0,0,5,17,8,11,75,16,132,264
2019,CHURCH HILL,0,1,5,15,11,7,70,22,147,278
2020,CHURCH HILL,0,3,2,25,6,4,69,13,132,254

In [87]:
# Pull in Zillow data, convert it to yearly data, and save it as a csv and DataFrame

# Pull in Zillow data
zillow_df = pd.read_csv("Resources/Zillow_Richmond_Neighborhoods_wZips.csv")

# Replace NaN values with 0
zillow_df = zillow_df.fillna(0)

# Convirt monthly data into yearly data
zillow_df["1996"] = round((zillow_df["1/31/1996"] + zillow_df["2/29/1996"] + zillow_df["3/31/1996"] + zillow_df["4/30/1996"] + 
                     zillow_df["5/31/1996"] + zillow_df["6/30/1996"] + zillow_df["7/31/1996"] + zillow_df["8/31/1996"] +
                     zillow_df["9/30/1996"] + zillow_df["10/31/1996"] + zillow_df["11/30/1996"] + zillow_df["12/31/1996"])/12)
zillow_df["1996"] = zillow_df["1996"].astype(int)
zillow_df["1997"] = round((zillow_df["1/31/1997"] + zillow_df["2/28/1997"] + zillow_df["3/31/1997"] + zillow_df["4/30/1997"] + 
                     zillow_df["5/31/1997"] + zillow_df["6/30/1997"] + zillow_df["7/31/1997"] + zillow_df["8/31/1997"] +
                     zillow_df["9/30/1997"] + zillow_df["10/31/1997"] + zillow_df["11/30/1997"] + zillow_df["12/31/1997"])/12)
zillow_df["1997"] = zillow_df["1997"].astype(int)
zillow_df["1998"] = round((zillow_df["1/31/1998"] + zillow_df["2/28/1998"] + zillow_df["3/31/1998"] + zillow_df["4/30/1998"] + 
                     zillow_df["5/31/1998"] + zillow_df["6/30/1998"] + zillow_df["7/31/1998"] + zillow_df["8/31/1998"] +
                     zillow_df["9/30/1998"] + zillow_df["10/31/1998"] + zillow_df["11/30/1998"] + zillow_df["12/31/1998"])/12)
zillow_df["1998"] = zillow_df["1998"].astype(int)
zillow_df["1999"] = round((zillow_df["1/31/1999"] + zillow_df["2/28/1999"] + zillow_df["3/31/1999"] + zillow_df["4/30/1999"] + 
                     zillow_df["5/31/1999"] + zillow_df["6/30/1999"] + zillow_df["7/31/1999"] + zillow_df["8/31/1999"] +
                     zillow_df["9/30/1999"] + zillow_df["10/31/1999"] + zillow_df["11/30/1999"] + zillow_df["12/31/1999"])/12)
zillow_df["1999"] = zillow_df["1999"].astype(int)
zillow_df["2000"] = round((zillow_df["1/31/2000"] + zillow_df["2/29/2000"] + zillow_df["3/31/2000"] + zillow_df["4/30/2000"] + 
                     zillow_df["5/31/2000"] + zillow_df["6/30/2000"] + zillow_df["7/31/2000"] + zillow_df["8/31/2000"] +
                     zillow_df["9/30/2000"] + zillow_df["10/31/2000"] + zillow_df["11/30/2000"] + zillow_df["12/31/2000"])/12)
zillow_df["2000"] = zillow_df["2000"].astype(int)
zillow_df["2001"] = round((zillow_df["1/31/2001"] + zillow_df["2/28/2001"] + zillow_df["3/31/2001"] + zillow_df["4/30/2001"] + 
                     zillow_df["5/31/2001"] + zillow_df["6/30/2001"] + zillow_df["7/31/2001"] + zillow_df["8/31/2001"] +
                     zillow_df["9/30/2001"] + zillow_df["10/31/2001"] + zillow_df["11/30/2001"] + zillow_df["12/31/2001"])/12)
zillow_df["2001"] = zillow_df["2001"].astype(int)
zillow_df["2002"] = round((zillow_df["1/31/2002"] + zillow_df["2/28/2002"] + zillow_df["3/31/2002"] + zillow_df["4/30/2002"] + 
                     zillow_df["5/31/2002"] + zillow_df["6/30/2002"] + zillow_df["7/31/2002"] + zillow_df["8/31/2002"] +
                     zillow_df["9/30/2002"] + zillow_df["10/31/2002"] + zillow_df["11/30/2002"] + zillow_df["12/31/2002"])/12)
zillow_df["2002"] = zillow_df["2002"].astype(int)
zillow_df["2003"] = round((zillow_df["1/31/2003"] + zillow_df["2/28/2003"] + zillow_df["3/31/2003"] + zillow_df["4/30/2003"] + 
                     zillow_df["5/31/2003"] + zillow_df["6/30/2003"] + zillow_df["7/31/2003"] + zillow_df["8/31/2003"] +
                     zillow_df["9/30/2003"] + zillow_df["10/31/2003"] + zillow_df["11/30/2003"] + zillow_df["12/31/2003"])/12)
zillow_df["2003"] = zillow_df["2003"].astype(int)
zillow_df["2004"] = round((zillow_df["1/31/2004"] + zillow_df["2/29/2004"] + zillow_df["3/31/2004"] + zillow_df["4/30/2004"] + 
                     zillow_df["5/31/2004"] + zillow_df["6/30/2004"] + zillow_df["7/31/2004"] + zillow_df["8/31/2004"] +
                     zillow_df["9/30/2004"] + zillow_df["10/31/2004"] + zillow_df["11/30/2004"] + zillow_df["12/31/2004"])/12)
zillow_df["2004"] = zillow_df["2004"].astype(int)
zillow_df["2005"] = round((zillow_df["1/31/2005"] + zillow_df["2/28/2005"] + zillow_df["3/31/2005"] + zillow_df["4/30/2005"] + 
                     zillow_df["5/31/2005"] + zillow_df["6/30/2005"] + zillow_df["7/31/2005"] + zillow_df["8/31/2005"] +
                     zillow_df["9/30/2005"] + zillow_df["10/31/2005"] + zillow_df["11/30/2005"] + zillow_df["12/31/2005"])/12)
zillow_df["2005"] = zillow_df["2005"].astype(int)
zillow_df["2006"] = round((zillow_df["1/31/2006"] + zillow_df["2/28/2006"] + zillow_df["3/31/2006"] + zillow_df["4/30/2006"] + 
                     zillow_df["5/31/2006"] + zillow_df["6/30/2006"] + zillow_df["7/31/2006"] + zillow_df["8/31/2006"] +
                     zillow_df["9/30/2006"] + zillow_df["10/31/2006"] + zillow_df["11/30/2006"] + zillow_df["12/31/2006"])/12)
zillow_df["2006"] = zillow_df["2006"].astype(int)
zillow_df["2007"] = round((zillow_df["1/31/2007"] + zillow_df["2/28/2007"] + zillow_df["3/31/2007"] + zillow_df["4/30/2007"] + 
                     zillow_df["5/31/2007"] + zillow_df["6/30/2007"] + zillow_df["7/31/2007"] + zillow_df["8/31/2007"] +
                     zillow_df["9/30/2007"] + zillow_df["10/31/2007"] + zillow_df["11/30/2007"] + zillow_df["12/31/2007"])/12)
zillow_df["2007"] = zillow_df["2007"].astype(int)
zillow_df["2008"] = round((zillow_df["1/31/2008"] + zillow_df["2/29/2008"] + zillow_df["3/31/2008"] + zillow_df["4/30/2008"] + 
                     zillow_df["5/31/2008"] + zillow_df["6/30/2008"] + zillow_df["7/31/2008"] + zillow_df["8/31/2008"] +
                     zillow_df["9/30/2008"] + zillow_df["10/31/2008"] + zillow_df["11/30/2008"] + zillow_df["12/31/2008"])/12)
zillow_df["2008"] = zillow_df["2008"].astype(int)
zillow_df["2009"] = round((zillow_df["1/31/2009"] + zillow_df["2/28/2009"] + zillow_df["3/31/2009"] + zillow_df["4/30/2009"] + 
                     zillow_df["5/31/2009"] + zillow_df["6/30/2009"] + zillow_df["7/31/2009"] + zillow_df["8/31/2009"] +
                     zillow_df["9/30/2009"] + zillow_df["10/31/2009"] + zillow_df["11/30/2009"] + zillow_df["12/31/2009"])/12)
zillow_df["2009"] = zillow_df["2009"].astype(int)
zillow_df["2010"] = round((zillow_df["1/31/2010"] + zillow_df["2/28/2010"] + zillow_df["3/31/2010"] + zillow_df["4/30/2010"] + 
                     zillow_df["5/31/2010"] + zillow_df["6/30/2010"] + zillow_df["7/31/2010"] + zillow_df["8/31/2010"] +
                     zillow_df["9/30/2010"] + zillow_df["10/31/2010"] + zillow_df["11/30/2010"] + zillow_df["12/31/2010"])/12)
zillow_df["2010"] = zillow_df["2010"].astype(int)
zillow_df["2011"] = round((zillow_df["1/31/2011"] + zillow_df["2/28/2011"] + zillow_df["3/31/2011"] + zillow_df["4/30/2011"] + 
                     zillow_df["5/31/2011"] + zillow_df["6/30/2011"] + zillow_df["7/31/2011"] + zillow_df["8/31/2011"] +
                     zillow_df["9/30/2011"] + zillow_df["10/31/2011"] + zillow_df["11/30/2011"] + zillow_df["12/31/2011"])/12)
zillow_df["2011"] = zillow_df["2011"].astype(int)
zillow_df["2012"] = round((zillow_df["1/31/2012"] + zillow_df["2/29/2012"] + zillow_df["3/31/2012"] + zillow_df["4/30/2012"] + 
                     zillow_df["5/31/2012"] + zillow_df["6/30/2012"] + zillow_df["7/31/2012"] + zillow_df["8/31/2012"] +
                     zillow_df["9/30/2012"] + zillow_df["10/31/2012"] + zillow_df["11/30/2012"] + zillow_df["12/31/2012"])/12)
zillow_df["2012"] = zillow_df["2012"].astype(int)
zillow_df["2013"] = round((zillow_df["1/31/2013"] + zillow_df["2/28/2013"] + zillow_df["3/31/2013"] + zillow_df["4/30/2013"] + 
                     zillow_df["5/31/2013"] + zillow_df["6/30/2013"] + zillow_df["7/31/2013"] + zillow_df["8/31/2013"] +
                     zillow_df["9/30/2013"] + zillow_df["10/31/2013"] + zillow_df["11/30/2013"] + zillow_df["12/31/2013"])/12)
zillow_df["2013"] = zillow_df["2013"].astype(int)
zillow_df["2014"] = round((zillow_df["1/31/2014"] + zillow_df["2/28/2014"] + zillow_df["3/31/2014"] + zillow_df["4/30/2014"] + 
                     zillow_df["5/31/2014"] + zillow_df["6/30/2014"] + zillow_df["7/31/2014"] + zillow_df["8/31/2014"] +
                     zillow_df["9/30/2014"] + zillow_df["10/31/2014"] + zillow_df["11/30/2014"] + zillow_df["12/31/2014"])/12)
zillow_df["2014"] = zillow_df["2014"].astype(int)
zillow_df["2015"] = round((zillow_df["1/31/2015"] + zillow_df["2/28/2015"] + zillow_df["3/31/2015"] + zillow_df["4/30/2015"] + 
                     zillow_df["5/31/2015"] + zillow_df["6/30/2015"] + zillow_df["7/31/2015"] + zillow_df["8/31/2015"] +
                     zillow_df["9/30/2015"] + zillow_df["10/31/2015"] + zillow_df["11/30/2015"] + zillow_df["12/31/2015"])/12)
zillow_df["2015"] = zillow_df["2015"].astype(int)
zillow_df["2016"] = round((zillow_df["1/31/2016"] + zillow_df["2/29/2016"] + zillow_df["3/31/2016"] + zillow_df["4/30/2016"] + 
                     zillow_df["5/31/2016"] + zillow_df["6/30/2016"] + zillow_df["7/31/2016"] + zillow_df["8/31/2016"] +
                     zillow_df["9/30/2016"] + zillow_df["10/31/2016"] + zillow_df["11/30/2016"] + zillow_df["12/31/2016"])/12)
zillow_df["2016"] = zillow_df["2016"].astype(int)
zillow_df["2017"] = round((zillow_df["1/31/2017"] + zillow_df["2/28/2017"] + zillow_df["3/31/2017"] + zillow_df["4/30/2017"] + 
                     zillow_df["5/31/2017"] + zillow_df["6/30/2017"] + zillow_df["7/31/2017"] + zillow_df["8/31/2017"] +
                     zillow_df["9/30/2017"] + zillow_df["10/31/2017"] + zillow_df["11/30/2017"] + zillow_df["12/31/2017"])/12)
zillow_df["2017"] = zillow_df["2017"].astype(int)
zillow_df["2018"] = round((zillow_df["1/31/2018"] + zillow_df["2/28/2018"] + zillow_df["3/31/2018"] + zillow_df["4/30/2018"] + 
                     zillow_df["5/31/2018"] + zillow_df["6/30/2018"] + zillow_df["7/31/2018"] + zillow_df["8/31/2018"] +
                     zillow_df["9/30/2018"] + zillow_df["10/31/2018"] + zillow_df["11/30/2018"] + zillow_df["12/31/2018"])/12)
zillow_df["2018"] = zillow_df["2018"].astype(int)
zillow_df["2019"] = round((zillow_df["1/31/2019"] + zillow_df["2/28/2019"] + zillow_df["3/31/2019"] + zillow_df["4/30/2019"] + 
                     zillow_df["5/31/2019"] + zillow_df["6/30/2019"] + zillow_df["7/31/2019"] + zillow_df["8/31/2019"] +
                     zillow_df["9/30/2019"] + zillow_df["10/31/2019"] + zillow_df["11/30/2019"] + zillow_df["12/31/2019"])/12)
zillow_df["2019"] = zillow_df["2019"].astype(int)
zillow_df["2020"] = round((zillow_df["1/31/2020"] + zillow_df["2/29/2020"] + zillow_df["3/31/2020"] + zillow_df["4/30/2020"] + 
                     zillow_df["5/31/2020"] + zillow_df["6/30/2020"] + zillow_df["7/31/2020"] + zillow_df["8/31/2020"] +
                     zillow_df["9/30/2020"] + zillow_df["10/31/2020"] + zillow_df["11/30/2020"] + zillow_df["12/31/2020"])/12)
zillow_df["2020"] = zillow_df["2020"].astype(int)
zillow_df["01/2021 - 07/2021"] = round((zillow_df["1/31/2021"] + zillow_df["2/28/2021"] + zillow_df["3/31/2021"] + zillow_df["4/30/2021"] + 
                     zillow_df["5/31/2021"] + zillow_df["6/30/2021"] + zillow_df["7/31/2021"])/12)
zillow_df["01/2021 - 07/2021"] = zillow_df["01/2021 - 07/2021"].astype(int)

# Rename columns with non-spaces in their names
zillow_df = zillow_df.rename(columns={"RegionName": "Region Name", "RegionID": "Region ID", "SizeRank": "Size Rank"})

# Remove monthly columns in favor of yearly columns and remove other unneeded columns
zillow_df = zillow_df[["Region Name", "Region ID", "Size Rank", "Zip Code", "Second Zip Code", "Third Zip Code", 
                       "1996", "1997", "1998", "1999", "2000", "2001", "2002", "2003", "2004", "2005", "2006",
                       "2007", "2008", "2009", "2010", "2011", "2012", "2013", "2014", "2015", "2016", "2017",
                       "2018", "2019", "2020", "01/2021 - 07/2021"]]

# Store the new data in a csv file
zillow_df.to_csv("zillow_by_year.csv", encoding="utf-8", index=False)
zillow_df.loc['Totals',:] = zillow_df.sum(axis=0)
zillow_df.iloc[-1,0] = "Totals"

# Display
print(len(zillow_df))
zillow_df.head()

124

,Region Name,Region ID,Size Rank,Zip Code,Second Zip Code,Third Zip Code,1996,1997,1998,1999,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,01/2021 - 07/2021
0,The Fan,275702.0,1140.0,23220.0,None,None,127836.0,123561.0,142352.0,162437.0,...,325518.0,352072.0,361787.0,375400.0,398726.0,423322.0,456708.0,480578.0,495304.0,303858.0
1,The Museum District,275714.0,2576.0,23221.0,23230,None,101811.0,117029.0,127964.0,141834.0,...,285041.0,306324.0,312329.0,325949.0,348648.0,367651.0,392892.0,417523.0,434587.0,272206.0
2,Fulton,276341.0,4089.0,23231.0,None,None,68845.0,74232.0,82636.0,83851.0,...,96219.0,96882.0,105052.0,116738.0,118553.0,129542.0,143823.0,150422.0,164079.0,110944.0
3,Eastview,273588.0,4471.0,23223.0,None,None,0.0,21060.0,56303.0,61406.0,...,73953.0,62921.0,68541.0,69548.0,67897.0,72297.0,89160.0,100886.0,111755.0,76686.0
4,Ginter Park,243780.0,4493.0,23227.0,23222,None,116266.0,130858.0,143066.0,154101.0,...,277100.0,300294.0,303092.0,309751.0,324448.0,344755.0,370552.0,384376.0,409187.0,263880.0

In [88]:
# Function to transform Zillow data to cover a single Neighborhood from 2000 to 2020
def zillow_data(neighborhood):
    years = [2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010, 
             2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020]
    zillow_neighborhood_df = pd.DataFrame()
    zillow_neighborhood_df = zillow_df.loc[(zillow_df["Region Name"] == neighborhood)]
    zillow_neighborhood_df = zillow_neighborhood_df.set_index("Region Name")
    prices = [zillow_neighborhood_df.loc[neighborhood, "2000"],
              zillow_neighborhood_df.loc[neighborhood, "2001"],
              zillow_neighborhood_df.loc[neighborhood, "2002"],
              zillow_neighborhood_df.loc[neighborhood, "2003"],
              zillow_neighborhood_df.loc[neighborhood, "2004"],
              zillow_neighborhood_df.loc[neighborhood, "2005"],
              zillow_neighborhood_df.loc[neighborhood, "2006"],
              zillow_neighborhood_df.loc[neighborhood, "2007"],
              zillow_neighborhood_df.loc[neighborhood, "2008"],
              zillow_neighborhood_df.loc[neighborhood, "2009"],
              zillow_neighborhood_df.loc[neighborhood, "2010"],
              zillow_neighborhood_df.loc[neighborhood, "2011"],
              zillow_neighborhood_df.loc[neighborhood, "2012"],
              zillow_neighborhood_df.loc[neighborhood, "2013"],
              zillow_neighborhood_df.loc[neighborhood, "2014"],
              zillow_neighborhood_df.loc[neighborhood, "2015"],
              zillow_neighborhood_df.loc[neighborhood, "2016"],
              zillow_neighborhood_df.loc[neighborhood, "2017"],
              zillow_neighborhood_df.loc[neighborhood, "2018"],
              zillow_neighborhood_df.loc[neighborhood, "2019"],
              zillow_neighborhood_df.loc[neighborhood, "2020"]]
    zillow_multirow_neighborhood_df = pd.DataFrame()
    zillow_multirow_neighborhood_df["YEAR"] = years
    zillow_multirow_neighborhood_df["NEIGHBORHOOD_NAME"] = neighborhood
    zillow_multirow_neighborhood_df["AVERAGE_HOUSE_PRICE"] = prices
    zillow_multirow_neighborhood_df["AVERAGE_HOUSE_PRICE"] = zillow_multirow_neighborhood_df["AVERAGE_HOUSE_PRICE"].astype(int)
    zillow_multirow_neighborhood_df = zillow_multirow_neighborhood_df.set_index("YEAR")
    return zillow_multirow_neighborhood_df

In [91]:
# Call function to create a Zillow data DataFrame for a location
zillow_n1_df = pd.DataFrame()
zillow_n1_df = zillow_data("Church Hill")
zillow_n1_df

     NEIGHBORHOOD_NAME  AVERAGE_HOUSE_PRICE
YEAR
2000       Church Hill               157062
2001       Church Hill               147762
2002       Church Hill               162856
2003       Church Hill               185556
2004       Church Hill               198668
2005       Church Hill               234338
2006       Church Hill               266700
2007       Church Hill               280136
2008       Church Hill               262604
2009       Church Hill               235140
2010       Church Hill               228737
2011       Church Hill               215394
2012       Church Hill               210263
2013       Church Hill               223706
2014       Church Hill               231048
2015       Church Hill               256620
2016       Church Hill               280420
2017       Church Hill               299113
2018       Church Hill               320999
2019       Church Hill               334904
2020       Church Hill               345075

In [92]:
# Call function for total for all of Richmond
total_zillow_df = pd.DataFrame()
total_zillow_df = zillow_data("Totals")
total_zillow_df

     NEIGHBORHOOD_NAME  AVERAGE_HOUSE_PRICE
YEAR
2000            Totals             14864415
2001            Totals             15419541
2002            Totals             16462528
2003            Totals             18209260
2004            Totals             20044317
2005            Totals             22811280
2006            Totals             25394341
2007            Totals             27186144
2008            Totals             26883825
2009            Totals             24964309
2010            Totals             23879647
2011            Totals             22227965
2012            Totals             21573024
2013            Totals             22572722
2014            Totals             22976497
2015            Totals             23649011
2016            Totals             25102733
2017            Totals             26802685
2018            Totals             29385991
2019            Totals             31498053
2020            Totals             34019502

In [49]:
# Combine Crime and Neighborhood Data
crime_housing_df = pd.merge(crime_df,zillow_n1_df,how="outer",on="YEAR")
crime_housing_df = crime_housing_df.rename(columns={"NEIGHBORHOOD_NAME_x": "NEIGHBORHOOD_NAME"})
crime_housing_df = crime_housing_df[["NEIGHBORHOOD_NAME", "HOMICIDE", "SEX_OFFENSE", "ROBBERY",
                                     "ASSAULT", "BURGLARY", "VICE", "THEFT", "VEH_THEFT", "OTHER", 
                                     "TOTAL_CRIME", "AVERAGE_HOUSE_PRICE"]]
crime_housing_df

,NEIGHBORHOOD_NAME,HOMICIDE,SEX_OFFENSE,ROBBERY,ASSAULT,BURGLARY,VICE,THEFT,VEH_THEFT,OTHER,TOTAL_CRIME,AVERAGE_HOUSE_PRICE
YEAR,,,,,,,,,,,,
2000,CHURCH HILL,0,1,8,71,44,46,143,51,229,593,157062
2001,CHURCH HILL,1,2,20,60,77,25,157,66,198,606,147762
2002,CHURCH HILL,0,1,13,50,59,23,190,49,190,575,162856
2003,CHURCH HILL,1,3,31,65,57,26,188,76,178,625,185556
2004,CHURCH HILL,0,6,16,52,41,31,122,55,163,486,198668
2005,CHURCH HILL,2,2,17,42,28,37,95,37,159,419,234338
2006,CHURCH HILL,1,1,10,49,53,37,87,18,229,485,266700
2007,CHURCH HILL,0,4,10,36,37,20,90,19,179,395,280136
2008,CHURCH HILL,1,2,7,29,27,16,58,23,189,352,262604
2009,CHURCH HILL,1,3,3,30,26,11,78,13,173,338,235140
2010,CHURCH HILL,0,0,3,29,18,11,64,17,159,301,228737
2011,CHURCH HILL,0,0,6,37,21,14,67,10,148,303,215394
2012,CHURCH HILL,0,1,8,28,10,8,72,9,194,330,210263
2013,CHURCH HILL,0,0,3,23,20,5,47,5,145,248,223706
2014,CHURCH HILL,0,0,9,25,23,6,69,8,125,265,231048
2015,CHURCH HILL,0,1,4,27,17,9,54,8,143,263,256620
2016,CHURCH HILL,0,2,4,29,12,4,73,14,117,255,280420
2017,CHURCH HILL,0,0,6,19,9,9,78,23,153,297,299113
2018,CHURCH HILL,0,0,5,17,8,11,75,16,132,264,320999
2019,CHURCH HILL,0,1,5,15,11,7,70,22,147,278,334904
2020,CHURCH HILL,0,3,2,25,6,4,69,13,132,254,345075

In [94]:
# Combine Crime and Total Richmond Data
richmond_crime_housing_df = pd.merge(total_crime_df,total_zillow_df,how="outer",on="YEAR")
richmond_crime_housing_df = richmond_crime_housing_df.rename(columns={"NEIGHBORHOOD_NAME_x": "NEIGHBORHOOD_NAME"})
richmond_crime_housing_df = richmond_crime_housing_df[["NEIGHBORHOOD_NAME", "HOMICIDE", "SEX_OFFENSE", "ROBBERY",
                                     "ASSAULT", "BURGLARY", "VICE", "THEFT", "VEH_THEFT", "OTHER", 
                                     "TOTAL_CRIME", "AVERAGE_HOUSE_PRICE"]]
richmond_crime_housing_df["NEIGHBORHOOD_NAME"] = "Richmond"
richmond_crime_housing_df

,NEIGHBORHOOD_NAME,HOMICIDE,SEX_OFFENSE,ROBBERY,ASSAULT,BURGLARY,VICE,THEFT,VEH_THEFT,OTHER,TOTAL_CRIME,AVERAGE_HOUSE_PRICE
YEAR,,,,,,,,,,,,
2000,Richmond,600,2368,8728,47264,22728,19440,86928,20384,172624,381064,14864415
2001,Richmond,402,1746,7968,38046,17226,9774,65718,16572,123486,280938,15419541
2002,Richmond,498,2136,7896,34308,18234,10680,72846,15222,109092,270912,16462528
2003,Richmond,528,1638,8016,34194,18678,10920,64938,17340,95526,251778,18209260
2004,Richmond,540,1470,7824,32106,16296,11718,48546,14214,84228,216942,20044317
2005,Richmond,498,1428,7176,31434,15066,16524,49320,13284,100002,234732,22811280
2006,Richmond,432,1296,5970,32682,13686,17622,38124,8526,118410,236748,25394341
2007,Richmond,330,1008,5772,32004,11250,16716,33804,7440,138954,247278,27186144
2008,Richmond,186,948,4632,29880,10488,16140,31836,6132,130434,230676,26883825
2009,Richmond,258,912,5094,30492,9504,16404,35244,5868,123582,227358,24964309
2010,Richmond,264,894,4380,30408,10596,14874,35310,5208,120288,222222,23879647
2011,Richmond,234,762,4050,28182,11352,12696,35190,5490,114690,212646,22227965
2012,Richmond,270,678,3762,28104,11958,13992,36978,5508,113862,215112,21573024
2013,Richmond,228,756,3738,26898,10878,13386,35958,5562,102348,199752,22572722
2014,Richmond,246,996,3420,25926,10194,12462,36180,4440,101124,194988,22976497
2015,Richmond,258,1026,2934,26478,9564,12378,37236,5430,107688,202992,23649011
2016,Richmond,372,1194,3300,25920,9102,10758,36906,7662,113148,208362,25102733
2017,Richmond,378,1338,3078,24414,8328,11412,38676,7092,118008,212724,26802685
2018,Richmond,330,1086,2568,24540,6690,12462,39438,8064,117198,212376,29385991
2019,Richmond,378,1110,2568,23598,6144,11478,39072,7128,117330,208806,31498053
2020,Richmond,426,996,2160,20928,5100,7524,34764,6966,98352,177216,34019502

In [10]:
# Census Call
c = Census(api_key, year=2013)
census_data = c.acs5.get(("NAME", "B19013_001E", "B01003_001E", "B01002_001E",
                          "B19301_001E",
                          "B17001_002E"), {'for': 'zip code tabulation area:*', 'in': 'state:51'})
# Convert to DataFrame
census_pd = pd.DataFrame(census_data)

# Rename Columns
census_pd = census_pd.rename(columns={"B01003_001E": "Population",
                                      "B01002_001E": "Median Age",
                                      "B19013_001E": "Household Income",
                                      "B19301_001E": "Per Capita Income",
                                      "B17001_002E": "Poverty Count",
                                      "NAME": "Name", "zip code tabulation area": "Zipcode"})

# Add in Poverty Rate (Poverty Count / Population)
census_pd["Poverty Rate"] = 100 * \
    census_pd["Poverty Count"].astype(
        int) / census_pd["Population"].astype(int)

# Rearrange DataFrame
census_pd = census_pd[["Zipcode", "Population", "Median Age", "Household Income",
                       "Per Capita Income", "Poverty Count", "Poverty Rate"]]
# Display
print(len(census_pd))
census_pd.head()

896

,Zipcode,Population,Median Age,Household Income,Per Capita Income,Poverty Count,Poverty Rate
0,23102,3342.0,43.7,92346.0,32064.0,35.0,1.047277
1,23106,1270.0,31.2,45125.0,16816.0,497.0,39.133858
2,23112,50595.0,35.1,80830.0,33038.0,2006.0,3.964819
3,23153,1073.0,54.2,76964.0,63814.0,21.0,1.957130
4,23161,62.0,66.3,52143.0,47961.0,0.0,0.000000

In [11]:
# Copy Census data to csv
census_pd.to_csv("census_data.csv", encoding="utf-8", index=False)